apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: redemption-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: redemption-app
  minReplicas: 3
  maxReplicas: 60
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 55